{% extends 'base_layout2.html' %}

{% load static %}

{% block title %} Courses {% endblock title %}

{% block content %}
{% load static %}
<div class="flex flex-column justify-center items-center 
    w-100 black-60 pl1-00 mv4-00">	
    <hgroup class="tc w-100 mb2-00">
        <h2 class="f1-25 f1-50-s f2-25-l mb0-00">
            Learn to author and read <span class="gold">BIM Models</span>.
        </h2>
    </hgroup>
    <p class="f1-25 f1-50-s f2-00-l
        tc"
    >
        Starting at $39/month, you'll learn exactly how to build and manage your own BIM Models.
    </p>
</div>

<div id="" 
        class=""      
        tabindex="0" 
        title="" 
        aria-label=""
>
    <nav id="navigation"
        class="grid gtc12 ggap0-50
            min-vh-90 pv2-00 container90" 
        
    >
        <section id="enrol_free_plan"  
            class = "gc1s12 gc1s6-m gr1s1 
                gr1s1-l gc1s3-l h-100
                w-100"
            data-use-new="true" 
            role="tabpanel" 
            aria-label="projects" 
            section-index="2"
        >
            {% include 'website/enrol/enrol_card_2.html' %}
            
        </section>

        <section id="enrol_monthly_plan" 
            class="gc1s12 gc7s6-m gr1s1-m gr2s1 
                gc4s3-l
                w-100 black-60" 
            data-use-new="true" 
            role="tabpanel" 
            aria-label="principles" 
            section-index="3"
        >
             {% include 'website/enrol/enrol_card_2.html' %}
        </section>

        <section id="enrol_annual_plan" 
            class="gc1s12 gc1s6-m gr3s1
                gc7s3-l
                " 
            data-use-new="true" 
            role="tabpanel" 
            aria-label="PRACTICE" 
            section-index="4"
        >
             {% include 'website/enrol/enrol_card_2.html' %}
        </section>

        <section id="enrol_lifetime_plan" 
            class="gc1s12 gc7s6-m gr4s1 gr2s1-m gr1s1-l
                gc10s3-l"
            data-use-new="true" 
            role="tabpanel" 
            aria-label="people" 
            section-index=""
        >
             {% include 'website/enrol/enrol_card_2.html' %}
        </section>
    </nav> 
</div>

<div class="flex justify-center w-100 pv4-00 min-vh-40-m"
>
    <!-- Authenthication Form Start --> 
    <div class="flex items-center justify-center 
        w-50 bg-black-60 white-90"
    >
        <div id="" class="flex flex-column items-center justify-between 
            "
        >
                <div class="mb2-00">
                    Need an account? Please <a href="/accounts/register/" class="white-90 b--gold b ba bg-black-60 br0-25 ph0-50 pv0-25 ttu">Register</a>
                </div>
                <div>
                   Have an account? Please <a href="/accounts/login/" class="white-90 b--gold b ba bg-black-60 br0-25 ph0-50 pv0-25 ttu">Login</a>
                </div>
          
        </div>
    </div> 
    <!-- Authenthication Form End --> 
</div>

<div class="grid gtc12 bg-black-10 pa1-00 ggap2-00 mb2-00 container90">
    <hgroup class="gc1s12 flex flex-column justify-center white-90 bg-black-60 tc">
        <h1 class="f2-50 mv2-00 container80">
            Enrolment Frequently Asked Questions 
        </h1>
    </hgroup>
    <div class="gc1s6">
        <article class="mb2-00">
            <header>
                <hgroup class="flex">
                    <h2>What is Kewame Domfe Appau??</h2>
                    <h2>+</h2>
                </hgroup>
            </header>
            <main>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aliquam officiis sunt sed, libero ut nostrum ab rerum, culpa in pariatur commodi! Deleniti, tempore. Fuga tempore nesciunt excepturi animi quasi.</p>
            </main>
            <footer>
                <a href="">CTA</a>
            </footer>
        </article>
        <article class="mb2-00">
            <header>
                <hgroup class="flex">
                    <h2>What is Kewame Domfe Appau??</h2>
                    <h2>+</h2>
                </hgroup>
            </header>
            <main>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aliquam officiis sunt sed, libero ut nostrum ab rerum, culpa in pariatur commodi! Deleniti, tempore. Fuga tempore nesciunt excepturi animi quasi.</p>
            </main>
            <footer>
                <a href="">CTA</a>
            </footer>
        </article>
        <article class="mb2-00">
            <header>
                <hgroup class="flex">
                    <h2>What is Kewame Domfe Appau?</h2>
                    <h2>+</h2>
                </hgroup>
            </header>
            <main>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aliquam officiis sunt sed, libero ut nostrum ab rerum, culpa in pariatur commodi! Deleniti, tempore. Fuga tempore nesciunt excepturi animi quasi.</p>
            </main>
            <footer>
                <a href="">CTA</a>
            </footer>
        </article>
    </div>
    <div class="gc7s6">
        <article class="mb2-00">
            <header>
                <hgroup class="flex">
                    <h2>What is Kewame Domfe Appau??</h2>
                    <h2>+</h2>
                </hgroup>
            </header>
            <main>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aliquam officiis sunt sed, libero ut nostrum ab rerum, culpa in pariatur commodi! Deleniti, tempore. Fuga tempore nesciunt excepturi animi quasi.</p>
            </main>
            <footer>
                <a href="">CTA</a>
            </footer>
        </article>
        <article class="mb2-00">
            <header>
                <hgroup class="flex">
                    <h2>What is Kewame Domfe Appau??</h2>
                    <h2>+</h2>
                </hgroup>
            </header>
            <main>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aliquam officiis sunt sed, libero ut nostrum ab rerum, culpa in pariatur commodi! Deleniti, tempore. Fuga tempore nesciunt excepturi animi quasi.</p>
            </main>
            <footer>
                <a href="">CTA</a>
            </footer>
        </article>
        <article class="mb2-00">
            <header>
                <hgroup class="flex">
                    <h2>What is Kewame Domfe Appau?</h2>
                    <h2>+</h2>
                </hgroup>
            </header>
            <main>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aliquam officiis sunt sed, libero ut nostrum ab rerum, culpa in pariatur commodi! Deleniti, tempore. Fuga tempore nesciunt excepturi animi quasi.</p>
            </main>
            <footer>
                <a href="">CTA</a>
            </footer>
        </article>
    </div>
</div>
{% endblock %}    