<nav class="flex container container90 ">
    <ul class="flex justify-start items-center 
        
        w-50 h3-00 
        pv0-50 
        b white-90"
    >
        <li class="mr2-00">
            <a href="{% url 'website:courses' %}"
                class="white-90">All Courses</a>
        </li>
        <li>
            <a href="{% url 'website:course-category' %}"
                class="white-90">Course Category</a>
        </li>
    </ul>
    <ul class="w-50 h3-00 pv0-50 b flex justify-between items-center white-90">
        <li>
            <a href="{% url 'website:revit' %}"
                class="white-90">Revit</a>
        </li>
        <li>
            <a href="{% url 'website:naviswork' %}"
                class="white-90">Naviswork</a>
        </li>
        <li>
            <a href="{% url 'website:dynamo' %}"
            class="white-90">Dynamo</a>
        </li>
        <li>
            <a href="{% url 'website:python' %}"
            class="white-90">Python</a>
        </li>
    </ul>
</nav>