<nav class="flex container container90 ">
    <ul class="h3-00 pa0-50 b flex justify-start items-center white-90 w-50 container">
        
        <li>
            <a href="{% url 'website:finance' %}"
                class="white-90 mr2-00">Financing Options</a>
        </li>
        <li>
            <a href="javascript:void()"
            class="white-90">Blog</a>
        </li>
        
      
    </ul>
    <ul class="h3-00 pa0-50 b flex justify-between items-center white-90 w-50 container">
        <li>
            <a href="{% url 'website:faqs' %}"
                class="white-90">FAQ's</a>
        </li>
       
        <li>
            <a href="{% url 'website:contact-me' %}"
            class="white-90">Contact Me</a>
        </li>
        <li>
            <a href="{% url 'website:download' %}"
            class="white-90">Download</a>
        </li>
        <li>
            <a href="{% url 'website:style-guide' %}"
            class="white-90">Style Guide</a>
        </li>
      
    </ul>
</nav>