{% load static %}
<div class="flex flex-column items-center justify-center 
        w-100 h-100
        pa4-00
        "
    >
    <div id="m__kda--Logo" 
        class="" 
        tabindex="0" 
        title="Kwame Domfe Appau's Logo" 
        aria-label="Kwame Domfe Appau's Logo"
        >
        <a href="{% url 'website:index' %}">
            <figure class="flex items-center justify-center"   
            >   
                <img src="{% static 'images/Logo_Images/LOGO.png' %}" 
                        alt="Geolo Logo" 
                        class=" w3-00 h3-00
                                br-100"
                />
                <figcaption class=" flex flex-column items-start justify-Start 
                                    ml1-00
                                    w14-00
                                    black-60">
                    <h2 class="mb0-50 f1-00 tracked">
                        KWAME DOMFE APPAU
                    </h2> 
                    <h3 class="flex justify-center items-center f0-50 mb0-00 tracked">
                        designer || programmer || developer
                    </h3>
                </figcaption>
            </figure>   
        </a>
    </div>

    <nav id="m__socialMediaNav" 
        class="gc1s12 gc7s6-m 
            flex flex-column items-center justify-end 
            w-50
            mt1-00 pv0-50 
            bt bb b--white" 
        tabindex="0">
        <ul id="social_media_list" class=" flex justify-between items-center w-100 ma0-00 pa0-00">
            <li class="ba br5-00 pa0-25 b--white-90 dib"> 
                <a href="" title="Follow me on Twitter" target="_blank" rel="noopener noreferrer">
                    <img src="/static/svgs/twitter.svg" alt="" class="w1-00">
                </a>
            </li>
            <li class="ba br5-00 pa0-25 b--white-90 dib"> 
                <a href="" title="Follow me on Facebook" target="_blank" rel="noopener noreferrer">
                    <img src="/static/svgs/facebook.svg" alt="" class="w1-00 white-90">
                </a>
            </li>
            <li class="ba br5-00 pa0-25 b--white-90 dib"> 
                <a href="" title="Connect with me on LinkedIn" target="_blank" rel="noopener noreferrer">
                <img src="/static/svgs/linkedin.svg" alt="" class="w1-00">
                </a>
                
            </li>
            <li class="ba br5-00 pa0-25 b--white-90 dib"> 
                <a href="" title="Follow me on youtube" target="_blank" rel="noopener noreferrer">
                    <img src="/static/svgs/youtube.svg" alt="" class="w1-00">
                </a>
            </li>
            <li class="ba br5-00 pa0-25 b--white-90 dib"> 
                <a href="" title="Get In Touch on WhatsApp" target="_blank" rel="noopener noreferrer">
                    <img src="/static/svgs/Whatsapp.svg" alt="" class="w1-00">
                </a>
            </li>
        </ul> 
    </nav>
</div>