{% extends 'base_layout3.html' %}

{% load static %}

{% block title %} Contact Me {% endblock title %}

{% block content %}

    {% comment %} <div id=""
        class="fixed bg-black-50 z-5 w-100">
        {% include '_partials/discover_nav.html' %}
    </div> {% endcomment %}
    
    <div id=""
        class="grid gtc12 container90 "
    > 
        <div class="gc1s6 gr1s1"
        >
            <div class="flex justify-end
                vh-90 
                mb3-00 
                bg-black-60 
                sticky top-5"
            >
                <div class="flex flex-column justify-between items-end  
                    w-50 h-100
                    ph1-00 
                    white-90 tj"
                >	
                    <div class="flex justify-start w-100 white-90 f0-75 pv1-00">
                        <span>
                            <a href="{% url 'website:discover' %}"
                                class="white-90"
                            >
                                Discover
                            </a> &gt;
                        <span/>
                        <span class="gold">
                            Contact Me
                        <span/> 
                        &gt;
                    </div>
                    <div class="flex flex-column justify-between items-center   
                        
                        pt3-00 
                        white-90
                        tj"
                    >	
                        <hgroup class="tc tl-m w-100 mb1-00"
                        >
                            {% comment %} <p class="f0-75 mv0-00">
                                discover
                            </p> {% endcomment %}
                            <h2 class="f1-50 mv0-00 pb1-00">
                                Contact Me
                            </h2>
                        </hgroup>
                        <p class="mb0-00 f1-25 f1-50-s f1-00-l w-100
                                "
                        >
                            {% lorem 20 w random %}
                        </p>
                        <ul class="dib flex flex-column justify-start mv4-00 w-100 b">
                            <li class="mb0-50">
                                <a href="javascript:void()"
                                    class="gold">Request For Services
                                </a>
                            </li>
                            <li class="mb0-50">
                                <a href="javascript:void()"
                                    class="gold">Revit Related Queries
                                </a>
                            </li>
                            <li class="mb0-50">
                                <a href="javascript:void()"
                                    class="gold">Naviswork Related Queries
                                </a>
                            </li>
                            <li class="mb0-50">
                                <a href="javascript:void()"
                                    class="gold">Dynamo Related Queries
                                </a>
                            </li>
                            <li class="mb0-50">
                                <a href="javascript:void()"
                                    class="gold">Python Related Queries
                                </a>
                            </li>
                            <li class="mb0-50">
                                <a href="javascript:void()"
                                    class="gold">Website Feedback
                                </a>
                            </li>
                        </ul>
                    </div> 
                </div> 
            </div>
        </div> 
        <div class="gc7s6 gr1s1 grid container mb3-00"
        >
            <header id="o__bannerBlock" class="
                flex justify-center items-center 
                "
            >
                <div class="w-100">
                    <figure class="vh-50 flex items-center justify-center
                                    
                        "
                    >
                        <img src="/static/images/Portrait_Images/students_coding.jpg" alt="javascript:void()" 
                            class="cover h-100"
                            />
                    </figure>  
                        
                    <hgroup class="gc1s12 tc mv2-00">
                            <h2>Contact Me</h2>
                    </hgroup>    
                </div>
            </header>

            <main>
                <div class="grid gtc12 bg-black-10 pa1-00 ggap2-00">
                    <div class="gc1s12">
                        <article class="mb2-00">
                            <header>
                                <hgroup class="flex">
                                    <h2>Financing Option One</h2>
                                </hgroup>
                            </header>
                            <main>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aliquam officiis sunt sed, libero ut nostrum ab rerum, culpa in pariatur commodi! Deleniti, tempore. Fuga tempore nesciunt excepturi animi quasi.</p>
                            </main>
                            <footer>
                                <a href="">CTA</a>
                            </footer>
                        </article>
                        <article class="mb2-00">
                            <header>
                                <hgroup class="flex">
                                    <h2>Financing Option Two</h2>
                                </hgroup>
                            </header>
                            <main>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aliquam officiis sunt sed, libero ut nostrum ab rerum, culpa in pariatur commodi! Deleniti, tempore. Fuga tempore nesciunt excepturi animi quasi.</p>
                            </main>
                            <footer>
                                <a href="">CTA</a>
                            </footer>
                        </article>
                        <article class="mb2-00">
                            <header>
                                <hgroup class="flex">
                                    <h2>Financing Option Three</h2>
                                </hgroup>
                            </header>
                            <main>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aliquam officiis sunt sed, libero ut nostrum ab rerum, culpa in pariatur commodi! Deleniti, tempore. Fuga tempore nesciunt excepturi animi quasi.</p>
                            </main>
                            <footer>
                                <a href="">CTA</a>
                            </footer>
                        </article>
                    </div>
                    
                </div>
            </main>

            <footer class="bg-black-90 pa1-00 white-90">
                put a page footer
            </footer>
        </div>

        <div class="gc1s12">
            {% include 'partials/_mainFooter.html' %}
        </div> 
    </div>
{% endblock %}    